#main{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:1200px;
    margin: auto;
}

h1{
    font-family: Georgia,"Times New Roman",serif;
}


body{
    margin:0;
    padding: 0;
    background:url(image/test.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    min-width:1200px;
}
#header{
    position:relative;
    width:1200px;
    background:	#FFDEAD;
    margin:24px 0;
    padding:0;
}

#header li {
    list-style-type: none;
    display:inline-block;
    padding:20px 30px;
    font-size:20px;
}

#aside{
    margin:24px 0 ;
    background: #FFDEAD;
    width:300px;
    height:550px;
    float:left;
    font-size:2em;
}

#aside li{
    line-height:100px;
}
#text{
    position:relative;
    background: #FFDEAD;
    width:850px;
    height:550px;
    margin:24px 0 24px 50px;
    display: inline-block;
    text-align: center;
}

a:link{
    color: black;
}

a:visited{
    color:black;
}

.direction:hover{
    background: deepskyblue;
}

#header a{
    padding:15px 40px;
    border-radius: 25px;
}

a{
    text-decoration: none;
}

#header ul a{
    color:black;
}

#aside ul{
    text-align: center;
    margin:50px 0 0 0;
    padding:0;
    list-style-type: none;
}

#copyright{
    clear:both;
}
input{
    width:400px;
    height:120px;
}
