h1{
    font-family: Georgia,"Times New Roman",serif;
}

p,li{
    font-family: Arial,"Times New Roman";
}


body{
    margin:0;
    padding: 0;
    background-image: url(image/test.jpg);
    background-size:100%;
}
#top{
    position:relative;
    width:1200px;
    background:	#FFDEAD;
    margin:24px 160px;
    padding:1em 0;
}

#top li{
    list-style-type: none;
    display:inline;
    margin-left:16.3em;
}

#left{
    margin:24px 0 24px 160px;
    background: #FFDEAD;
    width:300px;
    height:550px;
    float:left;
    font-size:2em;
}
#right{
    position:relative;
    background: #FFDEAD;
    width:850px;
    height:550px;
    margin:24px 0 24px 50px;
    display: inline-block;
}

a:link{
    color: black;
}

a:visited{
    color:black;
}

a[href="www.baidu.com"]{
    color: brown;
}

#top ul a{
    color:black;
}

#left li{
    text-align: center;
    margin:10% 0 10% -5%;
    list-style-type: none;
}

#copyright{
    clear:none;
    position:absolute;
    top:95%;
}

